.dent{
    margin: auto;
    width: 15%;
    padding: 10px;
    border: 1px solid black;
    background-color: #25242a;
    border-radius: 5px;
    box-shadow: rgba(150, 30, 20, .1);
}

.result{
  font-size: 24px;
  padding: 16px 5px;
  font-weight: 700;
  text-align: right;
  width: 96%;
  height: 50px;
  border: none;
  background-color: #F8F8F8;
}

table{
    width: 100%;
}

.myFirst_row{
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #F2F2F2;
  width: 100%;
  box-sizing: border-box;
}


.gee{
    background-color: #FE9F0A;
}

.mse{
    background-color: #7E7C7C;
}

.jay{
    background-color: #D6D0D0;
}
